<section class="height-100 imagebg text-center" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="../../assets/img/particle-bg.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <div class="switchable__text">
          <h2>Créer un compte Wefaves</h2>
          <span>Vous avez déjà un compte?
            <a routerLink="/login">Connexion</a>
          </span>
          <div><br></div>
          <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
            <span class="btn__text">
              <i class="socicon-facebook"></i>
              S'inscrire avec Facebook
            </span>
          </a>
          <hr>
          <signup-form></signup-form>
        </div>
      </div>
    </div>
  </div>
</section>
